html, body, #root {height: 100%; margin: 0; padding: 0;
}


body {
  background-image: linear-gradient(45deg, transparent 20%, rgb(155, 135, 135) 25%, transparent 25%),
                    linear-gradient(-45deg, transparent 20%, rgba(133, 133, 133, 0.719) 25%, transparent 25%),
                    linear-gradient(-45deg, transparent 75%, rgb(201, 201, 201) 80%, transparent 0),
                    radial-gradient(gray 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}
